<?xml version='1.0' encoding='utf-8'?>
<widget id="com.paleo.fossil" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>古生物化石背诵</name>
    <description>
        古生物学标准化石知识点背诵工具：支持分类背诵、填空测试、错题集复习与自主学习，离线可用。
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
